.notice-box{
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 5%;
    width: 500px;
    height: 370px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    text-align: center;
    padding:20px 12px;
    margin:0 20px;
}
.notice-box h3{
    text-align: left;
    font-size: 25px;
}
.notice-box p{
    text-align: left;
    color: gray;
    font-size: 15px;
}
.notice-box img{
    width: 450px;
    height: 230px;
    border-radius: 3%;
}