/*Loader starts*/
#loading{
    width: 100%;
    position: fixed;
    height: 100vh;
    background: #28282A url('1481.gif') no-repeat center center;
    z-index: 696969;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/*Loader ends*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(rgba(96, 0, 141,0.488),rgba(206, 241, 8, 0.488));
    color: #000;
  }
  .logout{
      height:90px;
      background-color: rgb(34, 34, 34);
      text-align: right;
  }
  button{
      color: black;
      background-color: yellow;
      margin: 3vh 5vw;
      font-size: 25px;
  }
  button:hover{
    color: white;
    background-color: purple;
    transition: .5s;
  }
  .student-profile{
    display: flex;
    justify-content: space-between;
    margin:5% 15%;
  }
  .student-profile .card {
    border-radius: 10px;
    background-color: rgba(212, 209, 209, 0.383);
    width: 30vw;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
    height:auto;
  }
  
  .student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid yellow;
    border-radius: 50%;
  }
  
  .student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .student-profile .card p {
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    color: #000;
  }
  
  .student-profile .table th,
  .student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
  }